In [ ]:
'''
Map() function in Python
map() function applies a given function to all items in an input list(or any iterable) 
and returns a map object(an iterator). 
This is particularly useful for transforming data in a list comprehensively 
'''

In [ ]:
#lambda power with map
#map
'''
map(lambda args:expression, iterables)
'''
numbers = [1,2,3,4,5,6]
sq = map(lambda x:x**2, numbers)
list(sq)

[1, 4, 9, 16, 25, 36]

In [5]:
def square(x):
    return x*x
list(map(square, numbers))

[1, 4, 9, 16, 25, 36]

In [7]:
#multiple iterables
numbers1 = [2,4,5]
numbers2 = [6,7,8]
res = list(map(lambda x,y:x+y,numbers1, numbers2))
res

[8, 11, 13]

In [10]:
#convert str to int
str_n = ['1','2','3','4']
#int_n = list(map(lambda x:int(x), str_n))
int_n = list(map(int, str_n))
int_n

[1, 2, 3, 4]

In [14]:
#upper all the strings
words = ['apple','mango','orange']
return_words = list(map(str.upper,words))
return_words

['APPLE', 'MANGO', 'ORANGE']

In [16]:
# list of dictionary
people = [
    {'name':'Krish','age':32},
    {'name':'Abhi','age':33}
]
def get_name(people):
    return people['name']

list(map(get_name,people))

['Krish', 'Abhi']