In [ ]:
'''
Sets:
-> built in data type to store collections of unique items
-> unordered, don't allow duplicate elements
-> use case:
    membership test
    eliminating duplicate entries
    performing mathematical set operations like union, intersection, diff, sym. diff
'''

In [ ]:
sets = {100, 12, 40, 50, 50}
sets

{12, 40, 50, 100}

In [2]:
#create set 
sets_1 = set()
print(type(sets))

<class 'set'>

In [4]:
my_sets_1 = set([11,2,3,2,4,23,2])
my_sets_1

{2, 3, 4, 11, 23}

In [ ]:
#basic set operations
#adding and removing elements
set_1 = {1,2,3,44,5,4,5,6}
set_1.add(33)
set_1

{1, 2, 3, 4, 5, 6, 33, 44}

In [6]:
set_1.add(44)
set_1

{1, 2, 3, 4, 5, 6, 33, 44}

In [8]:
#remove element
set_1.remove(3)
set_1

KeyError: 3

In [10]:
# no error for this - discard
set_1.discard(3)
set_1

{1, 2, 4, 5, 6, 33, 44}

In [12]:
#random remove element - pop
removed_element = set_1.pop()
print(removed_element)
set_1

2

{4, 5, 6, 33, 44}

In [13]:
#random remove element - pop
removed_element = set_1.pop()
removed_element
set_1

{5, 6, 33, 44}

In [15]:
#remove all elements
set_1.clear()
set_1

set()

In [16]:
# Set membership test
set_1 = {1,2,45,68,0}
print(3 in set_1)
print(68 in set_1)

False
True

In [17]:
#mathematical ops
set_1 = {1,2,3,4,5,6}
set_2 = {4,5,6,7,8,9}
union_set = set_1.union(set_2)
union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
#intersection - filter common element from sets
inter_sec = set_1.intersection(set_2)
inter_sec

{4, 5, 6}

In [ ]:
set_1.intersection_update(set_2) # all element is updated to set_1 whichever common element are there
set_1

{4, 5, 6}

In [ ]:
set_1 = {1,2,3,4,5,6}
set_2 = {4,5,6,7,8,9}
diff = set_1.difference(set_2) # set1 - set2 -> remove common element from set1 
diff

{1, 2, 3}

In [ ]:
z = set_1.symmetric_difference(set_2) # this contains only non-common uniqueelements 
z

{1, 2, 3, 7, 8, 9}

In [25]:
set_1 = {4,5,6}
set_2 = {4,5,6,7,8,9}
print(set_1.issubset(set_2))

True